<!--<md-list>
  <md-list-item *ngFor="let character of characters">
      <a md-line md-button [routerLink]="[character.uri]">
        {{ character.content.name }}
        
        
        
      </a>
  </md-list-item>
</md-list>-->

<ul class="demo-list-three mdl-list">
  <li class="mdl-list__item mdl-list__item--three-line" *ngFor="let character of characters">
    <span class="mdl-list__item-primary-content">
      <md-icon *ngIf="character.content.gender?.toLowerCase() === 'male'" class="male"></md-icon>
      <md-icon *ngIf="character.content.gender?.toLowerCase() === 'female'" class="female"></md-icon>
      <md-icon *ngIf="character.content.gender?.toLowerCase() !== 'female' && character.content.gender?.toLowerCase() !== 'male'" class="droid"></md-icon>
      <span><a md-button [routerLink]="[character.uri]">{{ character.content.name }}</a></span>
      <span class="mdl-list__item-text-body">
        {{ character.content.bio }}
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <md-icon *ngIf="character.content.alliance.toLowerCase() === 'rebel alliance' || character.content.alliance.toLowerCase() === 'resistance'" class="rebel"></md-icon>
      <md-icon *ngIf="character.content.alliance.toLowerCase() === 'galactic empire' || character.content.alliance.toLowerCase() === 'the first order'" class="empire"></md-icon>
    </span>
  </li>
</ul>