<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']"><div class="star-wars-icon"></div></a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/']"><i class="fa fa-home white" aria-hidden="true"></i> Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/characters']"><i class="fa fa-user white" aria-hidden="true"></i> Characters</a>
      </li>
    </ul>
    <sw-search></sw-search>
  </div>
</nav>