<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']"><div class="star-wars-icon"></div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/']"><i class="fa fa-home" [ngClass]="{'white': routerLinkActive}" aria-hidden="true"></i> Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/characters']"><i class="fa fa-user" [ngClass]="{'white': routerLinkActive}" aria-hidden="true"></i> Characters</a>
      </li>
    </ul>
    <sw-search></sw-search>
  </div>
</nav>