<sw-navigation></sw-navigation>
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-12 col-md-9">
      <p class="float-right hidden-md-up">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas" id="offcanvas">Toggle nav</button>
      </p>
      <sw-search-result [results]="results"></sw-search-result>
      <router-outlet></router-outlet>
    </div>
    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
     <sw-facet></sw-facet>
    </div>
  </div>
</div>